<h1>Reusable components</h1>

<h2>Simple reusable buttons</h2>

<poc-button>
    Click me
</poc-button>

<poc-button type="primary">
    or me
</poc-button>

<h2>Simple list component with v-for</h2>

<poc-list [items]="['one item', 'second item', 'third item']">

</poc-list>

<h2>Image</h2>

<poc-image source="https://ichef.bbci.co.uk/news/976/cpsprodpb/12A9B/production/_111434467_gettyimages-1143489763.jpg">

</poc-image>
