<h1>Animation showcase</h1>

<h2>Static CSS keyframes animation</h2>

<div class="square"></div>

<h2 style="margin-top: 100px">Some elements should appear conditionally and transition based on that</h2>

<button (click)="active = !active">
    Click me
</button>

<div @appear *ngIf="active" class="appearance-block">
    <p>My text</p>
</div>

<h2 style="margin-top: 100px">mouse position animation on class attribute with calculation of hsl()</h2>

<poc-mouse-position>

</poc-mouse-position>
