
.square {
    width: 400px;
    height: 400px;
    background-color:red;
    animation: square 4s infinite;
}

@keyframes square {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(0.8) rotate(90deg);
        background-color: yellow;
    }
    100% {
        transform: scale(1) rotate(180deg);
        background-color: blue;
    }
}

.appearance-block {
    max-height: 300px;
    display: flex;
    margin-top: 32px;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    width: 100%;
}