button {
    padding: 12px 24px;
    border-radius: 3px;
    margin-bottom: 12px;
    display: block;
    outline: none;
    border: 0;
}

.primary {
    background-color: #00B04A;
}

.secondary {
    background-color: #00AF9B;
}