div {
    display: flex;
    height: 100px;
    top: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #eee;
    width: 100%;
}

a {
    color: deepskyblue;
    text-decoration: none;
    font-weight: bold;
}

ul {
    max-width: 1200px;
}

li {
    float: left;
    list-style-type: none;
    margin-right: 32px;
}