<div>
    <ul>
        <li>
            <a href="/basic">Basic components</a>
        </li>
        <li>
            <a href="/animation">Animation components</a>
        </li>
        <li>
            <a href="/form">Form components</a>
        </li>
        <li>
            <a href="/data">Data components</a>
        </li>
    </ul>
</div>