<div class="mouse-demo" #mouseDemo
     [ngStyle]="{
        backgroundColor: backgroundColor
     }"
     (mousemove)="handleMousePosition($event)">
    <p>
        {{xPos}} - {{yPos}}
    </p>
</div>